change:
# Changes for GML 3.2 below
  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gml\v_3_2\AbstractTimeSliceType.java
      method: getValidTime 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.Embedded',
          '@jakarta.persistence.AttributeOverrides({@jakarta.persistence.AttributeOverride(name = "beginPosition", column = @jakarta.persistence.Column(name = "valid_time_begin")),@jakarta.persistence.AttributeOverride(name = "endPosition", column = @jakarta.persistence.Column(name = "valid_time_end"))})'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gml\v_3_2\AbstractGMLType.java
      method: getDescription 
    updates:
      - old: AttributeOverrides
        new: [
          '@jakarta.persistence.AttributeOverrides({@jakarta.persistence.AttributeOverride(name = "value", column = @jakarta.persistence.Column(name = "description")),@jakarta.persistence.AttributeOverride(name = "nilReason", column = @jakarta.persistence.Column(name = "description_nilReason")),@jakarta.persistence.AttributeOverride(name = "href", column = @jakarta.persistence.Column(name = "description_href"))})'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gml\v_3_2\AbstractGMLType.java
      method: getIdentifier 
    updates:
      - old:
        new: [
          '@jakarta.persistence.AttributeOverrides({@jakarta.persistence.AttributeOverride(name = "value", column = @jakarta.persistence.Column(name = "identifier")),@jakarta.persistence.AttributeOverride(name = "codeSpace", column = @jakarta.persistence.Column(name = "codeSpace"))})'
        ]
# Changes for AIXM 5.1.1 below
  - where:
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\message\BasicMessageMemberAIXMPropertyType.java
      method: getAbstractAIXMFeatureValue
    updates:
      - old: JoinTable
        new: [
          '@jakarta.persistence.JoinColumn(name = "feature_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AbstractAIXMTimeSliceType.java
      method: getFeatureLifetime 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.Embedded',
          '@jakarta.persistence.AttributeOverrides({@jakarta.persistence.AttributeOverride(name = "beginPosition", column = @jakarta.persistence.Column(name = "feature_lifetime_begin")),@jakarta.persistence.AttributeOverride(name = "endPosition", column = @jakarta.persistence.Column(name = "feature_lifetime_end"))})'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AbstractAIXMTimeSliceType.java
      method: getTimeSliceMetadata 
    updates:
      - old: ManyToOne
        new: []
      - old: JoinTable
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "time_slice_metadata_hjid", referencedColumnName = "hjid")'
        ]
        
  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AIXMPointPropertyType.java
      method: getPoint 
    updates:
      - old: Transient
        new: 
          - '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)'
          - '@jakarta.persistence.JoinColumn(name = "point_id", referencedColumnName = "hjid")'
  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AIXMElevatedPointPropertyType.java
      method: getElevatedPoint
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "elevated_point_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AIXMCurvePropertyType.java
      method: getCurve 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "curve_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AIXMElevatedCurvePropertyType.java
      method: getElevatedCurve 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "elevated_curve_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AIXMSurfacePropertyType.java
      method: getSurface 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "surface_id", referencedColumnName = "hjid")'
        ]   

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AIXMElevatedSurfacePropertyType.java
      method: getElevatedSurface 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "elevated_surface_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\DateTimeType.java
      field: value 
    updates:
      - old: XmlValue
        new: []
      - old: XmlJavaTypeAdapter
        new: [
          '@jakarta.xml.bind.annotation.XmlValue',
          '@jakarta.xml.bind.annotation.adapters.XmlJavaTypeAdapter(com.aixm.delorean.core.time.adapter.XMLGregorianCalendarAdapter.class)'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\DateTimeType.java
      method: getValue 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.Basic'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\DateType.java
      field: value 
    updates:
      - old: XmlValue
        new: []
      - old: XmlJavaTypeAdapter
        new: [
          '@jakarta.xml.bind.annotation.XmlValue',
          '@jakarta.xml.bind.annotation.adapters.XmlJavaTypeAdapter(com.aixm.delorean.core.time.adapter.XMLGregorianCalendarAdapter.class)'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\DateType.java
      method: getValue 
    updates:
      - old: Transient
        new: [
          '@jakarta.persistence.Basic'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\AbstractAIXMFeatureType.java
      method: getFeatureMetadata 
    updates:
      - old: ManyToOne
        new: []
      - old: JoinTable
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "feature_metadata_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\SegmentPointPropertyType.java
      method: getAbstractSegmentPointValue 
    updates:
      - old: ManyToOne
        new: []
      - old: JoinTable
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "segment_point_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\DirectFlightPropertyType.java
      method: getAbstractDirectFlightValue 
    updates:
      - old: ManyToOne
        new: []
      - old: JoinTable
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "direct_flight_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\PropertiesWithSchedulePropertyType.java
      method: getAbstractPropertiesWithScheduleValue 
    updates:
      - old: ManyToOne
        new: []
      - old: JoinTable
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "properties_with_schedule_id", referencedColumnName = "hjid")'
        ]
        
  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\SurfaceContaminationPropertyType.java
      method: getAbstractSurfaceContaminationValue 
    updates:
      - old: ManyToOne
        new: []
      - old: JoinTable
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "surface_contamination_id", referencedColumnName = "hjid")'
        ]
        
  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\UsageConditionPropertyType.java
      method: getAbstractUsageConditionValue 
    updates:
      - old: ManyToOne
        new: []
      - old: JoinTable
        new: [
          '@jakarta.persistence.OneToOne(cascade = jakarta.persistence.CascadeType.ALL, fetch = jakarta.persistence.FetchType.EAGER)',
          '@jakarta.persistence.JoinColumn(name = "usage_condition_id", referencedColumnName = "hjid")'
        ]

  - where: 
      filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\MessageMetadataPropertyType.java
      method: getMdMetadata 
    updates:
      - old: Transient
        new: [
          '@org.hibernate.annotations.JdbcTypeCode(org.hibernate.type.SqlTypes.JSON)',
          '@jakarta.persistence.Column(name = "md_metadata", columnDefinition = "JSONB")'
          ]


delete:
# Changes for GML 3.2 below
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gml\v_3_2\Adapter1.java

# Changes for AIXM 5.1.1 below
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter1.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter2.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter3.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter4.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter5.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter6.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter7.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\XHTMLTypeAnyItem.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\XHTMLType.java
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\Adapter8.java
  # - filePath: delorean-aixm-511\src\main\java\org\w3\_2001\xmlschema\Adapter1.java
  # - filePath: delorean-aixm-511\src\main\java\org\w3\_2001\xmlschema\Adapter2.java

regex:
# Changes for GML 3.2 below
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gml\v_3_2\ObjectFactory.java
    regex: '(?s)@XmlElementDecl\(namespace\s*=\s*\"http://www\.opengis\.net/gml/3\.2\",\s*name\s*=\s*\"aixmValidTime\"\)\s*@XmlJavaTypeAdapter\(Adapter1\s*\.class\)\s*public\s+JAXBElement<DeloreanTimeSliceType>\s+createAixmValidTime\s*\(\s*DeloreanTimeSliceType\s+value\s*\)\s*\{.*?\}'
    replacement: |

  - filePath: delorean-core\src\main\java\com\aixm\delorean\core\org\gco\v2007\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
        namespace = "http://www.isotc211.org/2005/gco", 
        xmlns = {@jakarta.xml.bind.annotation.XmlNs(prefix = "gco", namespaceURI = "http://www.isotc211.org/2005/gco")},
        elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.org.gco.v2007;

  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gmd\v2007\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
        namespace = "http://www.isotc211.org/2005/gmd", 
        xmlns = {@jakarta.xml.bind.annotation.XmlNs(prefix = "gmd", namespaceURI = "http://www.isotc211.org/2005/gmd")},
        elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.org.gmd.v2007;

  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gml\v_3_2\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
        namespace = "http://www.opengis.net/gml/3.2", 
        xmlns = {
          @jakarta.xml.bind.annotation.XmlNs(prefix = "gml", namespaceURI = "http://www.opengis.net/gml/3.2"),
          @jakarta.xml.bind.annotation.XmlNs(prefix = "xlink", namespaceURI = "http://www.w3.org/1999/xlink")
        },
        elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.org.gml.v_3_2;

  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gsr\v2007\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
        namespace = "http://www.isotc211.org/2005/gsr", 
        xmlns = {@jakarta.xml.bind.annotation.XmlNs(prefix = "gsr", namespaceURI = "http://www.isotc211.org/2005/gsr")},
        elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.org.gsr.v2007;

  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gss\v2007\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
        namespace = "http://www.isotc211.org/2005/gss", 
        xmlns = {@jakarta.xml.bind.annotation.XmlNs(prefix = "gss", namespaceURI = "http://www.isotc211.org/2005/gss")},
        elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.org.gss.v2007;
      
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gts\v2007\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
        namespace = "http://www.isotc211.org/2005/gts", 
        xmlns = {@jakarta.xml.bind.annotation.XmlNs(prefix = "gts", namespaceURI = "http://www.isotc211.org/2005/gts")},
        elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.org.gts.v2007;
  
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\core\org\gml\v_3_2\PointPropertyType.java
    regex: "JAXBElement<PointType>"
    replacement: |-
      JAXBElement<? extends PointType>

# Changes for AIXM 5.1.1 below
  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\message\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
          namespace = "http://www.aixm.aero/schema/5.1.1/message",
          xmlns = {@jakarta.xml.bind.annotation.XmlNs(prefix = "message", namespaceURI = "http://www.aixm.aero/schema/5.1.1/message")},
          elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.schema.a5_1_1.aixm.message;

  - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\package-info.java
    regex: "(?s)^.*$"
    replacement: |
      @jakarta.xml.bind.annotation.XmlSchema(
          namespace = "http://www.aixm.aero/schema/5.1.1",
          xmlns = {@jakarta.xml.bind.annotation.XmlNs(prefix = "aixm", namespaceURI = "http://www.aixm.aero/schema/5.1.1")},
          elementFormDefault = jakarta.xml.bind.annotation.XmlNsForm.QUALIFIED
      )
      package com.aixm.delorean.core.schema.a5_1_1.aixm;

  # - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\DateTimeType.java
  #   regex: import org.w3._2001.xmlschema.Adapter1;
  #   replacement: |
  
  # - filePath: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\DateType.java
  #   regex: import org.w3._2001.xmlschema.Adapter2;
  #   replacement: |

copy:
  - from: delorean-aixm-511\src\main\post-jaxb\XHTMLType.java
    to: delorean-aixm-511\src\main\java\com\aixm\delorean\aixm511\schema\XHTMLType.java
