# vscode
.vscode

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven target directory
target/

# Data directory
data/

# Gradle build directory
build/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse
.project
.classpath
.c9/
.settings/
bin/
tmp/

# IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# python 
__pycache__/
*.pyc
*.pyd

# Python virtual environments
.venv/

# Qgis temporary project files
*.qgs~


util/__pycache__/Annotation.cpython-311.pyc
/.metadata/
