<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%-5level) %msg%n</pattern>
            </encoder>
    </appender>

    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.hibernate.metamodel" level="ERROR" />
    <logger name="org.hibernate.engine" level="ERROR" />
    <logger name="org.hibernate.orm" level="ERROR" />
    <logger name="com.zaxxer.hikari" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>