.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.orbit-container {
  position: absolute;
  animation: orbit var(--duration) linear infinite;
  transform-origin: center center;
}

.rotation-container{
  animation: none !important;
  animation: rotate var(--duration) linear infinite;
  transform-origin: center center;
} 

.shape {
  position: absolute;
  border-radius: 50%;
  transform-origin: center center;
  animation: none !important;
  filter: blur(100px);
  transform: translate(var(--radius-x), var(--radius-y));
  transition: transform 2s ease;
}

.shape1 { background: #486ada; }
.shape2 { background: #48a4da; }
.shape3 { background: #3678c4; }
.shape4 { background: #d42d57; }
.shape5 { background: #6445d4; }
.shape6 { background: #9c78ff; }
.shape7 { background: #5144c9; }

[data-theme="dark"] .shape1 { 
  background: #486ada; 
}
[data-theme="dark"] .shape2 { 
  background: #48a4da; 
}
[data-theme="dark"] .shape3 { 
  background: #3678c4; 
}
[data-theme="dark"] .shape4 { 
  background: #d42d57; 
}
[data-theme="dark"] .shape5 { 
  background: #6445d4; 
}
[data-theme="dark"] .shape6 { 
  background: #9c78ff; 
}
[data-theme="dark"] .shape7 { 
  background: #5144c9; 
}


/* Move shapes without rotation */
@keyframes orbit {
  0%   { transform: rotate(0deg) translateX(var(--radius)) }
  100% { transform: rotate(360deg) translateX(var(--radius))}
}

@keyframes rotate {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
